@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root
{
    /*Colors*/
    --main-colour: #FF4C4C;
    --first-bg-colour: #575757;
    --secound-bg-colour: #D9D9D9;
}

html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

nav
{
    background-color: var(--first-bg-colour);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline;
}

nav li a
{
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 0.25s;
    animation-name: navbar-fade-in;
    animation-duration: 1s;
}

nav li a:hover
{
    color: var(--main-colour);
}

#Home
{
    height: 100%;
    background-color: var(--first-bg-colour);
    overflow: hidden;
}

#Home .main-text
{
    margin-top: 50vh;
    margin-left: 10vw;
}

#Home .main-text span
{
    color: white;
    font-size: 50px;
}

#Home .main-text .main-ksawier
{
    color: var(--main-colour);
    font-size: 75px;
    font-weight: bold;
}

#Home .main-text .main-description-me
{
    font-size: medium;
}

#About
{
    height: 100%;
    background-color: var(--secound-bg-colour);
}

@keyframes navbar-fade-in
{
    from {transform: translateX(-20px);}
    to {transform: translateX(0px);}
}